
<div class="login-box">
    <h1>Give your pickup address</h1>
    <div class="textbox">
        
        <input type="text" placeholder="OTP" [(ngModel)]="ottp">
        <i class="fa fa-check-circle" aria-hidden="true" style="font-size:40px;color:green;margin-left: 2cm;"></i>
    </div>

<div class="row">
    <i class="fa fa-check-circle" aria-hidden="true" style="font-size:140px;color:green;;margin-left: 1cm;"></i>
    <div style="margin-left: 1cm;">
    <h3>Congratulataions!</h3>
    <p >Great we can pickup any product from this <br> pincode and ship it to crores of buyers <br>across india.</p> 
</div>
   
</div>

<b>Your Pick up Address</b>
    <div class="textbox">   
       <input type="password" placeholder="Your Address" >  
   </div>

   <div class="textbox">  
       <input type="text" placeholder="PIN" >
   </div>

   <div class="textbox"> 
       <input type="email" placeholder="Location" >
   </div>

   <div class="textbox"> 
       <input type="text" placeholder="STATE" >
   </div>

   <input class="btn" type="button" placeholder="Sign Up" value="Sign Up">
    
</div> 
  
<div class="matter">
    <h2> Give us the address  of @Warehouse or<br> @Store where the inventory is available </h2>
    <b>Why is this address required ?</b>
    <p>This helps our logistics partners to pick up the packed orders for home deliveries.</p>
    <hr style="border-bottom: 2px solid rgb(28, 137, 187);">
</div>
