
<div class="login-box">
    <h1>Give Your Business Details</h1>


    <div class="buttons">
        <input type="radio" id="male" name="gender" value="male" checked="checked">
  <label for="male">I Have an GSTIN</label><br>
  <input type="radio" id="female" name="gender" value="female" >
  <label for="female">I Don't Have an GSTIN</label>

    </div>

<div class="textbox"> 
     <input type="text" placeholder=" GSTIN Number" >
     <button type="submit" value="button" id="button">Verify</button>   
 </div>
 <input class="btn" type="button" value="CONTINUE">
</div> 

<div class="matter">
    <h2>Partener with <b style="font-size: 35px;color: royalblue;">Edquart for</b><br>  Mutual Business Growth</h2>
    <b>Dont have a GSTIN ?</b>
    <p>You can also apply directly on <a href="" target="_blank">Government Portal.</a></p>
    <hr style="border-bottom: 2px solid;">
    <b>How Do I update my business Details ?</b>
    <p>Your business details are automatically fetched from your GSTIN.<br> To change them, go to the Government portal and <br>update the information on your GSTIN.</p>
    <hr style="border-bottom: 2px solid;">
</div>
