

<div class="content">
    <h2 style="margin-left: 2cm;padding-top: 0.5cm;">Give your business details</h2>
    <div class="buttons" style="margin-left: 1cm;padding-top: 0.5cm;">
        <input type="radio" id="male" name="gender" value="male" checked="checked">
  <label for="male">I Have an GSTIN</label><br>
  <input type="radio" id="female" name="gender" value="female" >
  <label for="female">I will only sell GSTIN exmption catagerioes like books</label>
    </div>


    <div class="textbox"> 
        <input type="password" placeholder="OTP" >
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        </div>


   <div class="details" style="margin-left: 1cm;">
   <h4>Business name:</h4>
   <h4>PAN:</h4>
   <h4>Business type:</h4>
   <h4><address>address:</address></h4>
   <p>To change any of the above information go to <a href="" target="_blank">Government Portal</a> and update on your GSTIN.</p>
   </div>


   <div class="matter" style="margin-left: 1cm;">
 <p style="margin-top: 0.5cm;">CIN Number: <input type="text" id="text" placeholder="CIN">  <b style="color: red;margin-left: 1cm;">*</b>Enable Only if it's a private Limited Company.</p>
 
 
 <div class="row" style="margin-bottom: 0.5cm;margin-top: 0.5cm;">
     <h5 class="col-md-3" >Are you a udayam register?</h5>
    
    <input type="radio" id="male" name="gender" value="male"  >
<label for="male" class="col-md-1">Yes</label>
<input type="radio" id="female" name="gender" value="female" >
<label for="female" class="col-md-1">NO</label>
</div>


<p>Enter Udayam Register Number: <input type="text" id="text" placeholder="udayam num"></p> <br>
 <p>Upload Udaym Certificate : <input type="file" id="file" placeholder="upload"></p>


</div>




</div>

<input type="submit" value="Continue" class="button">


