   <div class="row">

       <div class="div1">

 <h3 id="h3">Give Your Bank Details</h3>

<input type="radio" id="male" name="gender" value="male">
<label for="male"  id="label"> I have a bank acount in my registerd number</label><br>
<input type="radio" id="female" name="gender" value="female"> 
<label for="female" id="label1">I have applied /will apply for Bank account in my <br>register number</label><br>
<input type="text" placeholder="account name" id="text"><br>
<input type="text" placeholder="account name" id="text"><br>
<button type="submit" value="continue" id="button">Continue</button>

</div>

<div class="div2" >
    <h3> Why do you need our Bank Details?</h3><br>
    <p>Your Bank account details will be used to make payments to you.</p>  <hr id="hr">
    <h3>What should I do if I don't have a bank account in my registered business name?</h3><br>
    <p>We can only transfer payments to accounts which are in the registered business name. <br>Please
        open a new bank account with any bank in your registered business name.
        </p> <hr id="hr">
        <h3>What should I do if I don't have a cancelled cheque with my registered business name
            <br> printed on it?
            </h3><br>
            <p>A cancelled cheque with your registered business name printed on it is mandatory to<br> sell on EdQart
                Please ask your bank to issue a personalised cheque book with<br> your registered business
                name printed on it.
                </p>
</div>

</div>