
<div class="content">
    <h2 style="margin-left: 3cm;">Give your business details</h2>
    <div class="buttons" style="margin-left: 2cm;padding-top: 0.5cm;">
        <input type="radio" id="male" name="gender" value="male" checked="checked">
  <label for="male">I Have an GSTIN</label><br>
  <input type="radio" id="female" name="gender" value="female" >
  <label for="female">I Don't have an GSTIN </label>
    </div>

    <div class="contact">
        <h3>Your information</h3>
        <input type="text" id="female" name="gender" placeholder="Enter Your Business Name"  class="col-md-4">
 <br>
<input type="text" id="female" name="gender" placeholder="Enter your PAN"  class="col-md-4">
<br>
<input list="browsers" name="browser" class="col-md-4"  type="text"  placeholder="Choose Your Business Type">
<datalist id="browsers" >
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>
    </div>

    <div class="contact">
        <h3>Your Address</h3>
        <input type="text" id="female" name="gender" placeholder="Room/Floor/Building" class="col-md-4"><br>
<input type="text" id="female" name="gender" placeholder="Street/Locality/Landmark"  class="col-md-4"><br>
<input type="text" id="female" name="gender" placeholder="PIN CODE"  class="col-md-2">
<input type="text" id="female" name="gender" placeholder="City" class="col-md-2"><br>
<input type="text" id="female" name="gender" placeholder="State"  class="col-md-4">
  </div>

     <hr style="border-bottom: 2px solid ; margin-left: 1cm;margin-right: 2cm; ">

     <div class="row">
         <p style="margin-left: 3cm;">Address Proof can including following like<br> documents electricty , aadahra, pancard etc..<br>Allow the file formats are .jpg .jpng .pdf .png. <br>Maximum file size 20MB.</p>

         <input type="file" value="upload" placeholder="upload" style="margin-left: 6cm; color: blue; height: 1cm;"> <br>
     </div>
     <input type="button" class="btn" value="CONTINUE" >

    </div>
    