.contact h3{
    color: blue;
    margin-left: 4cm;
}
.contact input{
    margin-left: 1cm;
    margin-bottom: 0.3cm;
    height: 0.8cm;
}
.contact{
    
    margin-left: 1.5cm;
}
.btn{
    margin-top: 0.2cm; width: 15cm;height: 1.3cm; background-color: royalblue; 
    margin-left: 14cm;
    color: white;
   
}
.btn:hover{
    color: white;
    background-color: green;
    box-shadow: blue;
}