<div class="div">

<div class="login-box">
    <form [formGroup]="myForm" >
    <h1>Set Your Password</h1>
    <p>Your one step away from acces your account</p>
   
    
    <div class="textbox"  *ngIf="show" >
       <i class="fa fa-key" style="font-size:24px" ></i>  
        <input type="password" placeholder=" Set Password" formControlName="pass"  [(ngModel)]="pas">
        <i class="fa fa-eye" style="font-size:24px ;margin-left: 2cm;"  (click)="toggle()" ></i> 
        
    </div>

    
    <div class="textbox" *ngIf="show1" >
        <i class="fa fa-key" style="font-size:24px" ></i>  
         <input type="text" placeholder=" Set Password"     formControlName="pass"  [(ngModel)]="pas">
         <i class="fa fa-eye-slash" style="font-size:24px ;margin-left: 2cm;"  (click)="toggle1()" ></i>  
           
     </div>

    <div class="textbox">
        <i class="fa fa-key" style="font-size:24px"></i>
         <input type="password" placeholder=" Confirm Password"    formControlName="pass1"  [(ngModel)]="pas1"> 
        
     </div>
    
   
   
   <input class="btn" type="button" value="Set Password"  (click)="submit()">

</form>

</div> 
</div>
